<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014216882039-43d5ebmr6u6a8i35mp411g4coh4d9l1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014216882039-43d5ebmr6u6a8i35mp411g4coh4d9l1h</string>
	<key>API_KEY</key>
	<string>AIzaSyCTnRVPPzQjkjRQXy3BJSgDf91wnGFKUHw</string>
	<key>GCM_SENDER_ID</key>
	<string>1014216882039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gatello.user</string>
	<key>PROJECT_ID</key>
	<string>chat-test-8e64c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-test-8e64c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014216882039:ios:521b2a0340d3b363559372</string>
</dict>
</plist>